<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Alert</title>
    <link rel="stylesheet" href={{url_for('static',filename='style2.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Umbrella Alert</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Umbrella Alert</a>
         <!-- <a href="#dashboard">Dashboard</a>-->
          <a href="#info">Developers</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Plant Trees <br><span>Save Rain</span></h2>
          <p> "Plant trees to bring the rains and get rid of the summer's heat.” - Trees help reduce and moderate the temperature and climate, which is why it is so important that we have more of them</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
     <!--
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/prudhvish11/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/prudhvish11"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/prudhvish11"><i class="fab fa-twitter"></i></a>
      </div>
    -->
    </section>

    <section id="about">
      <h2>About Umbrella Alert</h2>
      <p class="about-content" style="text-align: center;">
        <li>Umbrella Alert is a web app which has a Machine Learning model running at the back.</li>
        <li>The purpose of developing this app is to predict whether it will rain the next day or not.</li>
        <li>This model is based on the Rain Prediction in Australia dataset.</li>
        <li>The dataset is downloaded from the Kaggle.</li>
        <li>This dataset contains about 10 years of daily weather observations from numerous Australian weather stations.</li>
        <li>The dataset contains 22 parameters or independent variables.</li>
        <li>RainTomorrow is the target variable to predict. It means -- did it rain the next day, Yes or No?</li>
        <li>This column is Yes if the rain for that day was 1mm or more.</li>
        <li>It uses various ML algorithms like KNN , Logistic Regression, SVM, Random Forest , Navie Bayes.</li>
        <li>The codes for this project can be checked in my <a href="https://github.com/prudhvish11" style="color: black; font-weight: bold;">github repo</a>.</li>
         
      </p>
    </section>


    <!----
    <section id="dashboard">
      <h2>Dashboard</h2>
      <p>This dashboard is done using a software called PowerBI which is a product of Microsoft.
        Here I have just attached the images of the dashboard because PowerBI needs oraganizational
        account. So to see the visualizations interactive I am attaching my <a href="../static/rain.pbix" style="color: black; font-weight: bold;">PowerBI</a>
        dashboard file. This requires PowerBI software to open the file. The usage of dashboards like
        these is to bring a better understanding about the dataset and also to bring some beautiful insights</p>
      <img class="dashboard-image" src="../static/dashboard.png" alt="1">
      <div>
        <img src="../static/1.png" alt="1">
        <img src="../static/3.png" alt="3">
        <img src="../static/4.png" alt="4">
        <img src="../static/5.png" alt="5">
        <img src="../static/6.png" alt="6">
        <img src="../static/7.png" alt="7">
        <img src="../static/8.png" alt="8">
        <img src="../static/9.png" alt="9">
      </div>
    </section>

  -->
    
    <section id="info">
      <!--
      <div>
        <img src="../static/puddi.jpg" alt="Puddi">
      </div>-->
      <div>
        <h2>Developers</h2>
        <p class="about-content"><dl><h3>Team Data_Pirates</h3>
            <li>Prudhvish Narayanam</li><li>Uppala Bharath</li><li>Harsha Vardhan</li><li>Tharun Kumar</li>
         </p>
      </div>
      <div>
        <h2>Tech Stack</h2>
        <p class="about-content">
          <dl>
        <li>Front-End: HTML, CSS, Bootstrap</li>
        <li>Back-End: Flask</li>
        <li>IDE: Visual Studio Code</li>
        <li>Dataset: Kaggle</li>
      </p>
      </div>
    </section>

    <footer>
      <p>
        Developed with by Data Pirates
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/prudhvish11/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/prudhvish11"><i class="fab fa-github"></i></a>
       <!-- <a href="https://twitter.com/V51430"><i class="fab fa-twitter"></i></a>-->
      </div>
    </footer>

  </body>
</html>
